<div class="cart--item-list-container">
    <ul class="item-list cart--item-list">
      <ng-container *ngFor="let item of cartItems$ | async">
        <!-- <app-item [itemName]="item.name" [itemId]="item.id"[item]="item"></app-item> -->
        <li>
          <img
            class="cart--item-icon"
            src="assets/icons/{{ item.id }}.svg"
            alt="beetroot"
          />
          <p>{{item.name}}</p>
          <button class="quantity-btn remove-btn center">-</button>
          <span class="quantity-text center">1</span>
          <button class="quantity-btn add-btn center">+</button>
        </li>
      </ng-container>
    </ul>
  </div>
  